@import "tailwindcss";

:root {
  background-color: var(--color-primary);
  font-family: 'Inter', sans-serif;
  color: var(--color-text);
  line-height: 1.5;
}


@theme {
  --color-primary: #171717;
  --color-secondary: #1C1C1C;
  --color-accent: #2B2B2B;
  --color-text: #F5F5F5;
  --color-subtext: #858585;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 10px;
}

body{
  @apply flex justify-center h-[100dvh] w-[100dvw] box-border
}
.pageWrapper{
  @apply p-5 pb-20 md:pb-0 w-[100dvw] max-w-[760px] h-[calc(100dvh-2.50rem)] relative
}

input, textarea{
  @apply w-full text-[13px] px-2 py-1 border-1 border-accent bg-secondary rounded-[3px] text-subtext
}


